<h1>Send message!</h1>
<form method="POST" action="/new">
    <input type="text" name="message" placeholder="Message">
    <input type="text" name="author" placeholder="Author">
    <button type="submit">Submit</button>
 </form>