<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <% messages.forEach((message) => { %>
        <%- include("./message/message", {message: message}) %>
    <% }) %>
    <a href="/new">Add message</a>
</body>
</html>